<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cron.name %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @cron.unique_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @cron.url %>
</p>

<p>
  <strong>Expression:</strong>
  <%= @cron.expression %>
</p>

<p>
  <strong>Grace period:</strong>
  <%= @cron.grace_period %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @cron.enabled %>
</p>

<%= link_to 'Edit', edit_cron_path(@cron) %> |
<%= link_to 'Back', crons_path %>
